$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?83cfe31f63293006e30c2e34af267ae5") format("truetype"),
url("./flaticon.woff?83cfe31f63293006e30c2e34af267ae5") format("woff"),
url("./flaticon.woff2?83cfe31f63293006e30c2e34af267ae5") format("woff2"),
url("./flaticon.eot?83cfe31f63293006e30c2e34af267ae5#iefix") format("embedded-opentype"),
url("./flaticon.svg?83cfe31f63293006e30c2e34af267ae5#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "airplane": "\f101",
    "attachment": "\f102",
    "badge": "\f103",
    "benchmark": "\f104",
    "briefcase": "\f105",
    "calendar": "\f106",
    "call": "\f107",
    "conversation": "\f108",
    "envelope": "\f109",
    "facebook-1": "\f10a",
    "facebook": "\f10b",
    "globe": "\f10c",
    "google-plus-1": "\f10d",
    "google-plus": "\f10e",
    "instagram": "\f10f",
    "left-arrow": "\f110",
    "left-quote": "\f111",
    "like": "\f112",
    "linkedin": "\f113",
    "long-arrow-pointing-to-the-right": "\f114",
    "manager": "\f115",
    "placeholder": "\f116",
    "plan": "\f117",
    "play-button": "\f118",
    "plus": "\f119",
    "profits": "\f11a",
    "progress": "\f11b",
    "right-arrow-1": "\f11c",
    "right-arrow-2": "\f11d",
    "right-arrow": "\f11e",
    "right-long-black-arrow": "\f11f",
    "rising": "\f120",
    "search-1": "\f121",
    "search": "\f122",
    "star-1": "\f123",
    "star-2": "\f124",
    "star-social-favorite-middle-full": "\f125",
    "star": "\f126",
    "telephone": "\f127",
    "trophy": "\f128",
    "twitter": "\f129",
    "user": "\f12a",
    "wallet": "\f12b",
);

.flaticon-airplane:before {
    content: map-get($flaticon-map, "airplane");
}
.flaticon-attachment:before {
    content: map-get($flaticon-map, "attachment");
}
.flaticon-badge:before {
    content: map-get($flaticon-map, "badge");
}
.flaticon-benchmark:before {
    content: map-get($flaticon-map, "benchmark");
}
.flaticon-briefcase:before {
    content: map-get($flaticon-map, "briefcase");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-conversation:before {
    content: map-get($flaticon-map, "conversation");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-facebook-1:before {
    content: map-get($flaticon-map, "facebook-1");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-globe:before {
    content: map-get($flaticon-map, "globe");
}
.flaticon-google-plus-1:before {
    content: map-get($flaticon-map, "google-plus-1");
}
.flaticon-google-plus:before {
    content: map-get($flaticon-map, "google-plus");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-left-quote:before {
    content: map-get($flaticon-map, "left-quote");
}
.flaticon-like:before {
    content: map-get($flaticon-map, "like");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-long-arrow-pointing-to-the-right:before {
    content: map-get($flaticon-map, "long-arrow-pointing-to-the-right");
}
.flaticon-manager:before {
    content: map-get($flaticon-map, "manager");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-plan:before {
    content: map-get($flaticon-map, "plan");
}
.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-profits:before {
    content: map-get($flaticon-map, "profits");
}
.flaticon-progress:before {
    content: map-get($flaticon-map, "progress");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon-map, "right-arrow-1");
}
.flaticon-right-arrow-2:before {
    content: map-get($flaticon-map, "right-arrow-2");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-right-long-black-arrow:before {
    content: map-get($flaticon-map, "right-long-black-arrow");
}
.flaticon-rising:before {
    content: map-get($flaticon-map, "rising");
}
.flaticon-search-1:before {
    content: map-get($flaticon-map, "search-1");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-star-1:before {
    content: map-get($flaticon-map, "star-1");
}
.flaticon-star-2:before {
    content: map-get($flaticon-map, "star-2");
}
.flaticon-star-social-favorite-middle-full:before {
    content: map-get($flaticon-map, "star-social-favorite-middle-full");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-trophy:before {
    content: map-get($flaticon-map, "trophy");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-wallet:before {
    content: map-get($flaticon-map, "wallet");
}
