
@media(max-width:1200px){
    .header-menu ul li a {
        margin-right: 38px;
    }
    .coursel-text h1 {
        font-size: 40px;
    }
    .coursel-text p {
        font-size: 18px;
    }
    .coursel-text {
        left: 120px !important;
        width: 75% !important;
    }
    .feature-item {
        margin-bottom: 30px;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    .experience-image {
        text-align: center;
    }
    .experience-image img {
        width: 80%;
        margin: auto;
    }
    .counter-part {
        margin-bottom: 22px;
    }
    .team-bg h6::after {
        right: 36% !important;
    }
    .team-bg h6::before {
        left: 36% !important;
    }
    .team-bg h1 {
        width: 75% !important;
    }
    .tm-image img {
        width: 100%;
    }
    .team-member-bio {
        margin-bottom: 25px;
    }
    .news-description {
        padding: 16px 2px !important;
    }
    .padd-n-img span {
        font-size: 14px;
    }
    .testimonial-title {
        width: 80% !important;
        margin: auto;
        text-align: center;
    }
    body{
        overflow-x: hidden;
    }
}

@media(max-width:992px){
    .header-top {
        background: transparent;
        display: none;
    }
    .header-right {
        display: none;
    }

   
    .header-menu ul li a {
        color: #fff !important;
    }
    .container, .container-md, .container-sm {
        max-width: 825px;
    }
    .team-bg h6::after {
        right: 32% !important;
    }
    .team-bg h6::before {
        left: 32% !important;
    }
    .skill-right img {
        width: 100%;
    }
    .contact-me {
        left: -3% !important;
    }
    .consulting-section {
        margin-top: 265px;
    }
    .consult-image .ctm-image-part {
        margin-bottom: 25px;
    }
    .news-btn {
        bottom: -12px !important;
        text-align: left !important;
    }
    .my-news {
        margin-bottom: 25px;
    }
    .news-description {
        padding: 16px 19px !important;
    }
    .testimonial-title {
        width: 95% !important;
    }
    .hidden-md{
        display: none;
    }

    body{
        overflow-x: hidden;
    }



    /*  */

    .header-menu {
        width: 100%;
        background: #000;
        position: absolute;
        top: 100%;
    }
    .header-menu ul li {
        position: relative;
        padding: 10px 17px;
        border-bottom: 1px solid #fff;
    }
    .flaticon-plus {
        position: absolute;
        right: -555px;
    }
    .header-menu ul li a {
        color: #000;
        margin-right: 55px;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        width: 200px;
        display: block !important;
        padding-bottom: 0 !important;
    }
    .header-menu ul li ul {
        left: 13%;
        top: 100%;
        background-color: #262424;
    }
    .header-menu ul li ul li:hover > a {
        background: transparent;
        padding-left: 15px;
    }
    .flaticon-plus {
        position: absolute;
        left: 100%;
    }
    .flaticon-plus {
        position: absolute;
        left: 86%;
    }
    .header-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        background: transparent;
    }
    .header-menu ul {
        width: 85%;
        background-color: #000;
    }
 


    
  
}
@media(max-width:768px){
    .container{
        width: 85%;
        margin: auto;
    }
    .coursel-text {
        top: 15%;
    }
    .coursel-text {
        left: 5% !important;
        width: 89% !important;
        top: 15% !important;
    }
    .coursel-text h1 {
        font-weight: 900 !important;
        font-size: 55px;
        line-height: 59px;
    }
    .coursel-text p {
        margin: 20px 0;
    }
    .carousel-inner .carousel-item {
        margin-bottom: 0px !important;
    }
    .team-bg h6::after {
        right: 28% !important;
    }
    .team-bg h6::before {
        left: 28% !important;
    }
    .play-btn {
        left: 11% !important;
    }
    .hover-c-controll {
        right: 13px !important;
    }
    .carousel:hover .cursor-btn-p {
        left: 10px !important;
    }
    .footter-copyright p {
        font-size: 15px !important;
    }


}
@media(max-width:600px){
    .team-bg h1 {
        width: 80% !important;
    }
}
@media(max-width:675px){
    .coursel-text {
        left: 3% !important;
        width: 95% !important;
        top: 15% !important;
    }
}

@media(max-width:576px){
    .container{
        width: 95%;
        margin: auto;
    }
    .team-bg h6::after {
        right: 23% !important;
    }
    .team-bg h6::before {
        left: 23% !important;
    }
    .team-bg h1 {
        width: 95% !important;
    }
    .header-menu ul li ul {
        left: 0%;
        width: 180px;
    }
}
@media(max-width:400px){
    .container{
        width: 99%;
        margin: auto;
    }
    .team-bg h6::after {
       display: none;
    }
    .team-bg h6::before {
        display: none;
    }
    .image-inner {
        right: 12px !important;
    }
    .header-menu ul li ul li a {
        font-size: 10px;
    }
    .header-menu ul li ul li ul {
        left: 0;
        top: 100%;
        opacity: 0 !important;
        visibility: hidden !important;
        background-color: #999;
    }
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        width: 168px !important;
    }
    .header-logo img {
        width: 80px;
    }
}
@media(max-width:350px){
    .play-btn {
        left: -15% !important;
    }
    .header-menu ul li ul li ul {
        left: 0;
        top: 102%;
        background-color: #535353;
    }
}
