body,p,a,li,span,h1,h2,h3,h4,h5,h6,div{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
/* header */
/* header-top */
.header-top {
	background-color: #1f2437;
	padding: 15px 0;
}
.top-header-left{}
.top-header-left i {
	color: #fcc741;
	margin-right: 8px;
	font-size: 19px;
}
.top-header-left a {
	color: #fff;
	font-size: 15px;
}
.header-top-p1 {
	border-right: 1px solid #fff;
	padding-right: 12px;
	margin-right: 12px;
}
.header-top-p2{}
.header-top-right{}
.header-top-right p{}





header {
	height: 90px;
	background-color: #fff;
}
.header-logo {
	height: 100%;
}
.header-logo img {
	width: 105px;
	margin-top: 13px;
}
.header-menu{}
.header-menu ul{}
.header-menu ul li{
    position: relative;
    display: inline-block;
}
.header-menu ul li a {
	padding: 0px 25px;
	color: #000;
	line-height: 80px;
	font-size: 17px;
	font-weight: 500;
	display: block;
}
.header-right {
	line-height: 80px;
}
.header-btn{
    position: relative;
}
.header-btn::before {
	content: "";
	position: absolute;
	right: -51px;
	top: 22px;
	width: 2px;
	height: 31px;
	background-color: #999;
}
.header-btn a {
	background-color: #fcc741;
	color: #fff;
	padding: 13px 34px;
	border-radius: 10px;
	margin-left: 40px;
	transition: 0.5s;
}
.header-btn a:hover{
	background-color: #011d3d;
}
.header-search{}
.header-search i{}

/* dd */
.header-menu ul li ul {
	position: absolute;
	left: 24px;
	top: 110%;
	width: 200px;
	background-color: #fff;
	padding-left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ;
	z-index: 999;
}
.header-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
}
.header-menu ul li ul li {
	display: block;
	border-bottom: 1px solid #ddd;
}
.header-menu ul li ul li a {
	display: block;
	line-height: 46px;
	font-size: 15px;
	
}
.header-menu ul li ul li:first-child {
	border-top: 4px solid #fcc741;
}

.header-menu ul li:hover > a{
	color: #fcc741;
}




/* Banner start */
.banner-section {}
.banner-inner {
	position: relative;
}
.banner-inner::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(15, 15, 22, 0.6);
	z-index: 1;
}
.carousel-item {
   position: relative;

}
.banner-section .banner-inner .carousel-item::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #1679c82b;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

}
.inner-part-one {
	height: 90vh;
}
.inner-part-two{
	height: 90vh;
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 12%;
	transform: translateY(-50%);
	z-index: 2;
}
.banner-content h1 {
	color: #fff;
	font-weight: 600;
	font-size: 55px;
	line-height: 70px;
	margin-bottom: 20px;
	position: relative;
	margin-left: 23px;
}
.banner-content h1::before {
	content: "";
	position: absolute;
	left: -23px;
	top: 0;
	background-color: #ffcc3f;
	width: 3px;
	height: 100%;
}
.banner-content p {
	color: #ddd;
	font-size: 14px;
	margin-bottom: 40px;
	font-weight: 500;
}
.banner-btn1 {
	color: #fff;
	font-size: 14px;
	border: 2px solid #fff;
	padding: 10px 35px;
	display: inline-block;
	border-radius: 5px;
	margin-right: 20px;
}
.banner-btn1:hover{
	background-color: #fff;
	color: #222;
}
.banner-btn2 {
	color: #fff;
	font-size: 14px;
	background-color: #fbc741;
	padding: 13px 35px;
	border-radius: 4px;
	font-weight: 600;
}
.banner-btn2:hover{
	background-color: #fff;
	color: #222;
}
.banner-section button i {
	color: #fcc741;
}
button.btn-one {
    left: 2%;
}
button.btn-two {
    right: 2%;
}
.banner-section button:hover {
	background-color: #fcc741;
} 
.banner-section button:hover i{
	color: #fff;
}

.banner-section button {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	bottom: 0;
	transition: .4s;
	border: 2px solid #fcc741;
	opacity: 0;
	visibility: hidden;
}
.banner-section:hover button {
    visibility: visible;
    opacity: 1;
}




/* About start */
.about-section{
	margin-top: 80px;
	margin-bottom: 50px;
}
.about-text{}
.about-text h1 {
	position: relative;
	margin-left: 22px;
}
.about-text h1::before {
	content: "";
	position: absolute;
	left: -23px;
	top: 0;
	width: 4px;
	height: 100%;
	background-color: #fcc845;
}
.about-text p {
	margin-top: 22px;
	color: #676767;
}
.about-text ul{

}
.about-text ul li {
	position: relative;
	margin-bottom: 15px;
	color: #979090;
}
.about-text ul li::before {
	content: "";
	position: absolute;
	left: -36px;
	top: 5px;
	width: 13px;
	height: 13px;
	background-color: #fcc741;
}
.about-experience {
	border-top: 4px solid #ededed;
	padding: 18px 0;
	margin-top: 25px;
	border-bottom: 4px solid #ededed;
}
.experience-image{}
.experience-image img {
	border-radius: 5px;
}
.experience-text {
	margin-left: 35px;
}
.experience-text h6 {
	font-size: 17px;
	line-height: 22px;
	color: #676767;
}
.about-right-image{}
.about-right-image img{}


/* About End */

/* Counter Start */
.counter {
	margin: 75px 0;
}
.counter-item{}
.counter-item i {
	color: #fcc741;
	font-size: 50px;
}
.counter-item h1 {
	margin-bottom: 14px;
}
.counter-item h6 {
	font-weight: 400;
}

/*Counter end  */


/* Programe start */
.programe-section {
	background-color: #1a3759;
	height: 626px;
}
.programe-text {
	padding-top: 70px;

}
.programe-text h1 {
	font-size: 45px;
	font-weight: 400;
}
.programe-text h1 span {
	font-weight: 700;
}
.programe-text p {
	font-size: 17px;
	line-height: 24px;
	margin-top: 18px;
	color: #bababa;
}
.popular-items {
	background-color: #fff;
	padding: 50px 10px;
}
.popular-items img {
	margin-bottom: 20px;
}
.popular-items h4 {
	font-size: 18px;
	margin-bottom: 12px;
}
.popular-items p {
	font-size: 15px;
	color: #777;
	margin-bottom: 19px;
}
.popular-items a {
	background-color: #1A314D;
	color: #fff;
	padding: 9px 16px;
	font-size: 15px;
	display: inline-block;
}
.total-courses-part{}

.sec1{
	border-right: 1px solid #ddd;	
}
.sec2{
	border-right: 1px solid #ddd;	
}
.sec3{
	border-right: 1px solid #ddd;	
}
.sec4{
	
}
.sec5{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.sec6{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.sec7{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.sec8{
	border-top: 1px solid #ddd;
}



.popular-section{
	background-color: rgb(204, 234, 240);

}
.popular-items:hover a {
	background-color: #fcc741;
}
.programe-section-over {
	background-color: #f1f1f1;
	box-shadow: 0px 8px 37px 2px #a6a6a6;
	position: relative;
	bottom: -191px;
}
/* course section start */
.course-section {
	margin-bottom: 50px;
	background-color: #f3f8fb;
	padding-top: 415px;
	padding-bottom: 100px;
}
.more-course {
	text-align: right;
	padding-top: 125px;
}
.more-course a {
	color: #000;
	font-size: 15px;
	background-color: #fff;
	padding: 15px 39px;
	border-radius: 5px;
	box-shadow: 0px 6px 18px 2px #d4d4d4;
}

.course-items {
    margin-top: 80px;
}
.course-details {
    background-color: #fff;
    position: relative;
    width: 98%;
    box-shadow: 0px 15px 20px 4px #d9d9d9;
}
.coorse-image {
	overflow: hidden;
}
.coorse-image img{
	transition: 0.5s linear;
}
.coorse-image img:hover {
	transform: scale(1.1);
}
.course-details .span {
    background-color: #fcc741;
    color: #fff;
    position: absolute;
    left: 0;
    top: 35%;
    padding: 6px 20px;
}
.inner-text {
    padding: 28px 20px;
}
.review-rating {
    margin-bottom: 20px;
}
.review-rating i {
    color: #fcc741;
}
.review-rating span {
    margin-left: 15px;
}
.inner-text h4 {
    color: #444;
    font-size: 21px;
    margin-bottom: 15px;
}
.inner-text h6 {
    margin-bottom: 20px;
}
.inner-text p {
    color: #777;
}
.course-enroll {
    justify-content: space-between;
    padding: 0 11px;
    border-top: 1px solid #e3e3e3;
    padding-top: 15px;
    margin-top: 28px;
}
.enroll-people {
    align-items: center;
}
.enroll-people i {
    margin-right: 13px;
}
.enroll-people p {
    margin-bottom: 0;
    color: #000;
    font-size: 16px;
}
.enroll-amount {
}
.enroll-amount span {
    font-size: 20px;
    color: #48d396;
}

/* course section end */

/* Quality Education start */
.quality-education-section {
    margin-top: 110px;
    margin-bottom: 90px;
}
.our-activity {
}
.our-activity h1 {
    color: #1d2143;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 43px;
}
.our-quality {
}
.quality-items {
	align-items: center;
}
.quality-items i {
    color: #fcc741;
    font-size: 56px;
    width: 130px;
}
.quality-item-text {
}
.quality-item-text h5 {
    color: #393939;
    font-size: 18px;
}
.quality-item-text p {
    font-size: 16px;
    color: #777;
    line-height: 28px;
    margin-top: 10px;
}
.quality-item-image{
	position: relative;
}
.quality-item-image img {
	border-radius: 6px;
}
.quality-item-image::after {
	content: "";
	position: absolute;
	right: 23px;
	top: -44px;
	width: 90%;
	height: 100%;
	border: 10px solid #fcc741;
	z-index: -1;
}



/* Quality Education End */

/* Free Trial Section start */
.free-trial-section{
	background-color: #07294e;
	padding: 74px 0;

}
.trial-text{}
.trial-text p {
    color: #fcc741;
    font-weight: 500;
}
.trial-text h1 {
    color: #fff;
}
.trial-button {
    text-align: right;
    margin-top: 30px;
    margin-right: 48px;
}
.trial-button .trial-btn {
    color: #fff;
    background-color: #fccc52;
    padding: 15px 35px;
    border-radius: 10px;
}


/* Upcoming Events start */
.event-item{
	margin-bottom: 100px;
}
.event-part {
    position: relative;
    box-shadow: 0px 18px 35px -7px #ccc;
    height: 235px;
    margin-top: 65px;
}
.event-image {
    width: 62%;
}
.event-image img {
    height: 235px;
}
.event-part .span {
    position: absolute;
    left: 0;
    top: 0;
    background: #fcc741;
    width: 60px;
    text-align: center;
    color: #fff;
    line-height: 19px;
    padding: 10px 6px;
}
.event-text {
    margin-left: 43px;
    padding-top: 40px;
    padding-right: 18px;
}
.event-text h3 {
    font-size: 20px;
    margin-bottom: 14px;
}
.camp-time {
}
.camp-time i {
    color: #fcc741;
}
.camp-time span {
    margin-left: 5px;
    color: #777;
    font-size: 15px;
}
.event-text p {
    margin-top: 18px;
    color: #777;
}
.event-text a {
    color: #fcc741;
}
/* Upcoming Events end */




/* Student Comment start */
.student-comment {
    background-color: #ecf0f9;
    padding-top: 50px;
    padding-bottom: 70px;
}
.students-pic {
}
.students-pic img {
}
.student-speech {
    background-color: #07294e;
    position: relative;
    left: -51px;
    top: 38px;
    padding: 45px 53px;
    border-radius: 6px;
}
.student-speech h1 {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 22px;
}
.student-speech i {
    color: #fcc741;
    font-size: 35px;
}
.student-speech p {
}
.student-speech img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.student-speech h6 {
    color: #fff;
    margin-bottom: 0;
    margin-top: 15px;
}
.student-speech p {
    font-size: 15px;
    line-height: 25px;
    color: #f7f7f7;
    margin-bottom: 26px;
}

.slider-dotted{}
.slider-dotted .span1 {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #74797a;
    border-radius: 50%;
}
.slider-dotted .span3 {
	width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #74797a;
    border-radius: 50%;
}
.slider-dotted .span2 {
    display: inline-block;
    width: 30px;
    height: 9px;
    background-color: #fcc741;
    border-radius: 10px;
    margin-left: 5px;
	margin-right: 5px;
}
/* Student Comment end */


/* Article section start */
.article-section {
    margin-bottom: 60px;
}
.article-btnn {
    padding-top: 85px;
}
.article-blog {
    margin-top: 70px;
}
.left-article-section {
}
.left-section-image {
}
.left-section-image img {
}
.left-section-text {
    box-shadow: 0px 0px 20px 1px #e9e9e9;
    padding: 22px 25px;
}
.left-section-text h4 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.left-section-text p {
    color: #777;
}

.event-part {
}
.event-image {
}
.event-image img {
}

.article-right-part {
    margin-top: 0;
    box-shadow: 1px 6px 20px 4px #f3f3f3;
    height: 178px;
    margin-bottom: 40px;
}
.article-right-image {
}
.article-right-image img {
    height: 178px;
}
.new-article-text{}
.first-article-image{}
.first-article-image img {
	width: 335px;
}
/* Article section end */



/* Footer top image */
.all-images-section {
	background-color: #f3f8fb;
	padding: 45px 0;
}
.all-images{}
.all-images img {
	width: 180px;
}


/*  Footer start */
footer{
	background-color: #002147;
	padding-top: 80px;
	padding-bottom: 60px;
}
.left-side-part{}
.left-side-part img {
    width: 140px;
    margin-bottom: 20px;
}
.left-side-part p {
    color: #b1b1b2;
    font-size: 14px;
    margin-bottom: 30px;
}
.left-side-part ul {
    padding-left: 0;
}
.left-side-part ul li {
    display: inline-block;
}
.left-side-part ul li a {
    color: #fff;
    padding-right: 20px;
}

.second-side-part {
    color: #fff;
    margin-left: 70px;
}
.second-side-part h5 {
    font-size: 19px;
    margin-bottom: 25px;
}
.second-side-part ul {
    padding-left: 0;
}
.second-side-part ul li {
    margin-bottom: 15px;
    font-size: 15px;
    color: #dcdcdc;
}

.third-side-part {
    color: #fff;
}
.third-side-part h5 {
    font-size: 19px;
    margin-left: 13px;
    margin-bottom: 25px;
}
.third-side-part ul {
}
.third-side-part ul li {
    margin-bottom: 15px;
    font-size: 15px;
    color: #dcdcdc;
    position: relative;
}
.third-side-part ul li::before {
	content: "";
	position: absolute;
	left: -22px;
	top: 10px;
	width: 10px;
	height: 2px;
	background-color: #fcc741;
}
.right-side-part input {
	width: 80%;
	background-color: #0b2e63;
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 10px 18px;
}
.right-side-part input:focus{
	outline: none;
}

.right-side-part {
    color: #fff;
}
.right-side-part h5 {
    font-size: 19px;
    margin-bottom: 25px;
}
.right-side-part p {
    color: #9a96a1;
    font-size: 15px;
    margin-bottom: 23px;
}
.right-side-part a {
    color: #fff;
    margin-top: 18px;
    display: inline-block;
    background-color: #fcc741;
    font-size: 15px;
    padding: 10px 39px;
    border-radius: 5px;
}

/* footer bottom */
.footer-bottom {
	background-color: #20242d;
	padding: 12px 0;
}
.left-footer-bottom p {
	color: rgb(182, 182, 182);
	font-size: 15px;
	margin-bottom: 0;
}
.right-footer-bottom p {
	color: rgb(184, 178, 178);
	font: 15px sans-serif;
	margin-bottom: 0;
	text-align: right;
}